[submodule "public/comp-prog-website"]
	path = public/comp-prog-website
	url = https://github.com/mgottsacker34/comp-prog-website.git
[submodule "public/digital_native"]
	path = public/digital_native
	url = https://github.com/mott-lab/digital_native
[submodule "public/--force"]
	path = public/--force
	url = https://github.com/mott-lab/alta_ie_v0.git
[submodule "public/alta_ie_v0"]
	path = public/alta_ie_v0
	url = https://github.com/mott-lab/alta_ie_v0.git
