<!-- navbar -->
<nav id="mainNav" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/#page-top">mg-space</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse navbar-right" id="navbarColor02">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/bio">Bio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/interests">Interests</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" placeholder="Search" type="text">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>

<section class="content-section">
  <header>
    <div class="container"> <!-- used to be class container -->
      <h1>about me<span id="underscore">_</span></h1>
      {{!-- <h6 class="subtitle" style="padding-bottom: 1.5em;">click on the chevrons to learn more!</h6> --}}

      <a class="arrow_expander content-card" data-toggle="collapse" href="#teachCollapse" role="button" aria-expanded="false" aria-controls="teachCollapse">
        <div class="title-bar row">
          <div class="title-bar--svg-row">
            <img src="images/down_arrow.svg" class="svg" />
          </div>
          <div class="title-bar--text-row">
            <h4 class="title-bar--header4">
              I teach <span class="subtitle">Computer Programming</span>.
            </h4>
          </div>
        </div>
      </a>

      <div class="collapse" id="teachCollapse">
        <div class="card card-body">
          <p>
              I am volunteering in a yearlong, community-based program called the Alumni Service Corps at <a href="https://www.muhs.edu/">Marquette University High School</a>. A lot of Jesuit high schools have an ASC program. The one at MUHS is extra special to me because I went there. The Computer Programming class I teach is an introductory CS class. Students learn the Java programming language and fundamental programming concepts. I teach it from a human-centered perspective, encouraging students to think about other disciplines involved in modern computing. We learn about how VR affects attention, how games rely on geometry, how visualizations can explain sorting algorithms, and the ethical implications of different technologies. We practice productive collaboration through a series of group projects. 
            </p>
            <p>
              If you want more details and some sample exercises, head to my <a href="https://mattgottsacker.space/comp-prog-website/">course website</a>.
          </p>
        </div>
      </div>
      
      <br>
      
      <a class="arrow_expander content-card" data-toggle="collapse" href="#researchCollapse" role="button" aria-expanded="false" aria-controls="researchCollapse">
        <div class="title-bar row">
          <div class="title-bar--svg-row">
            <img src="images/down_arrow.svg" class="svg" />
          </div>
          <div class="title-bar--text-row">
            <h4 class="title-bar--header4">
              I research <span class="subtitle">HCI</span>.
            </h4>
          </div>
        </div>
      </a>

      <div class="collapse" id="researchCollapse">
        <div class="card card-body">
          <p>
            I started doing research with <a href="http://cs.slu.edu/~esposito/">Dr. Flavio Esposito</a> during my Junior year of undergrad. We studied <a href="https://en.wikipedia.org/wiki/Software-defined_networking">Software-Defined Networking (SDN)</a>. We looked to implement and evaluate several <a href="https://www.dhs.gov/science-and-technology/csd-mtd">moving target defense</a> strategies in SDN. During my senior year, I worked with Dr. Esposito to design and begin implementing an application that allows humans to control a drone or swarm of drones through conversation. This project aims to lower the barriers between users and drones by not requiring extensive and fine-tuned knowledge of physical controllers.
          </p>
          <p>
            During the summer of 2018, I worked as a Research Intern at the <a href="https://www.ll.mit.edu/">MIT Lincoln Laboratory</a> in Lexington, Massachusetts. It was a privilege to work alongside some of the world's best researchers. Dr. Steven Gomez mentored me while I worked on a visualization tool for network security analysts gathering information in an enterprise SDN. I compiled my summer work into <a href="docs/imc-poster-gottsacker2.pdf">this poster</a>, which I presented at the ACM Internet Measurement Conference in Boston, MA, on October 31, 2018. 
          </p>
          <p>
            Dr. Gomez and the people I worked with at MIT LL mentored me a great deal about research. It was my first taste of Human-Computer Interaction, the field I will study at UCF starting in Fall 2020. Until then, I will informally explore some HCI concepts through <a href="./projects">personal projects</a>.
          </p>
        </div>
      </div>

      <br>

      <a class="arrow_expander content-card" data-toggle="collapse" href="#studentCollapse" role="button" aria-expanded="false" aria-controls="studentCollapse">
        <div class="title-bar row">
          <div class="title-bar--svg-row">
            <img src="images/down_arrow.svg" class="svg" />
          </div>
          <div class="title-bar--text-row">
            <h4 class="title-bar--header4">
              I went to school at <span class="subtitle">SLU</span>.
            </h4>
          </div>
        </div>
      </a>

      <div class="collapse" id="studentCollapse">
        <div class="card card-body">
          <p>
            I went to <a href="https://slu.edu">Saint Louis University</a> in St. Louis, MO. I majored in <a href="https://cs.slu.edu">Computer Science</a> with a minor in English. I appreciate the Jesuit approach to education.
          </p>
          <p>
            My undergraduate Computer Science courses include:
            <ul class="ul-arrow">
              <li class="li-arrow">Computer Security</li>
              <li class="li-arrow">Computer Ethics</li>
              <li class="li-arrow">Programming Languages</li>
              <li class="li-arrow">Network Programming</li>
              <li class="li-arrow">Artificial Intelligence</li>
              <li class="li-arrow">Algorithms</li>
              <li class="li-arrow">Operating Systems</li>
              <li class="li-arrow">Computer Architecture</li>
              <li class="li-arrow">Data Structures</li>
              <li class="li-arrow">Object Oriented Software Design</li>
              <li class="li-arrow">Taming Big Data</li>
            </ul>
          </p>
        </div>
      </div>

      <br>

      <a class="arrow_expander content-card" data-toggle="collapse" href="#codeCollapse" role="button" aria-expanded="false" aria-controls="codeCollapse">
        <div class="title-bar row">
          <div class="title-bar--svg-row">
            <img src="images/down_arrow.svg" class="svg" />
          </div>
          <div class="title-bar--text-row">
            <h4 class="title-bar--header4">
              I write <span class="subtitle">programs</span>.
            </h4>
          </div>
        </div>
      </a>

      <div class="collapse" id="codeCollapse">
        <div class="card card-body">
          <p>
            These are some of my favorite languages and tools. To see some of these things in action, head to the <a href="/projects">projects tab</a>.
            <ul class="ul-arrow">
              <li class="li-arrow">
                <a href="https://unity.com/">Unity</a>. This software is my most recent love interest, and I'm looking forward to making games and other interactive software with it.
              </li>
              <li class="li-arrow">
                <a href="https://www.javascript.com/">JavaScript</a>. I like JavaScript on the web, and I've found myself using it a lot in personal projects and in internships. <a href="https://d3js.org/">D3.js</a> is powerful for creating visualizations. <a href="https://aframe.io/">A-Frame</a> is awesome for bringing virtual reality to web browsers. <a href="https://reactjs.org/">React</a> is cool for UI development, and I can't wait to rewrite this website in it.
              </li>
              <li class="li-arrow">
                <a href="https://en.wikipedia.org/wiki/HTML">HTML</a>. I like reading and writing HTML. With the tools out there today, it wasn't necessary to write all of this website's HTML by hand. But I did, because it's fun.
              </li>
              <li class="li-arrow">
                <a href="https://www.gnu.org/software/bash/">Bash</a>. This has to be my favorite scripting language. I use it to automate some of my day-to-day tasks like renaming files, and I like to break it out to scrape web pages. I've used it extensively in a <a href="/projects#stlparcelCollapse">collaboration project with a sociology researcher</a> as well. On a related note, I love the Linux command line.
              </li>
              <li class="li-arrow">
                <a href="https://www.python.org/">Python</a>. I like using Python because of how quickly I can prototype with it. I've used it in a couple research projects, my Senior Capstone project, and programming challenges.
              </li>
              <li class="li-arrow">
                <a href="https://golang.org/">Go</a>. I do not have a lot of technical experience with this language (yet), but I've read about how it works on a lower level. I especially like the language's approach to sharing data in concurrent systems. If you're interested, <a href="https://blog.golang.org/share-memory-by-communicating">this article is a cool read on that topic</a>.
              </li>
            </ul>
          </p>
        </div>
      </div>

      <br>

      <a class="arrow_expander content-card" data-toggle="collapse" href="#otherCollapse" role="button" aria-expanded="false" aria-controls="otherCollapse">
        <div class="title-bar row">
          <div class="title-bar--svg-row">
            <img src="images/down_arrow.svg" class="svg" />
          </div>
          <div class="title-bar--text-row">
            <h4 class="title-bar--header4">
              I do <span class="subtitle">other things</span>.
            </h4>
          </div>
        </div>
      </a>

      <div class="collapse" id="otherCollapse">
        <div class="card card-body">
          <p>
            I love spending time outside and looking at stars. Some highlights: hiking the White Mountains in New Hampshire, the Smoky Mountains in Tennesse, and a variety of places in Northern Wisconsin and around Seattle. I like to rock climb as well! I've only climbed outside once, and it was at Jackson Falls in Southern Illinois.
          </p>
          <p>
            I collect records. My uncle gave me a 1972 Kenwood record player when I graduated high school, and I have been hooked on vinyls ever since. My collection has grown to well over 200 records, spanning the 1940's to the present. My friend and I had an all-vinyl college radio show every Monday from 5-6. You won't hear us anymore, but you can tune in at <a href="https://sites.google.com/slu.edu/kslu">KSLU.slu.edu</a> if you ever want to listen to some awesome SLU DJs.
          </p>
          <p>
            I write spoken word poetry. I've performed some of my work with my guitarist friend <a href="https://www.youtube.com/user/lvest79/">Luke Vest</a> at my college radio station's open mic nights. You can check out <a href="https://open.spotify.com/user/1291722834?si=NQz4ZS-ERbqOmQJLkSHziw">my Spotify account</a> if you're curious about what lyricists inspire me. Some of my favorites: Xiuhtezcatl, Milo, Frank Ocean, Watsky, Ivy Sole, Noname, Chance the Rapper.
          </p>
          <p>
            I read. I especially dig <a href="https://craphound.com/">Cory Doctorow</a>, <a href="https://www.nealstephenson.com/">Neal Stephenson<a/>, <a href="https://cogs.sitehost.iu.edu/people/profile.php?u=dughof">Douglas Hofstadter</a>, <a href="https://whatever.scalzi.com/">John Scalzi</a>, <a href="https://www.stephenking.com/">Stephen King</a>, Malcolm Gladwell, F. Scott Fitzgerald, and Hermann Hesse.
          </p>
          <p>
            I play video games. I'm in <a href="https://outerworlds.obsidian.net/en">The Outer Worlds</a> right now. I got pretty into Assassin's Creed Odyssey--a beautiful game--but I've lost steam on that game at the moment. I'm also known to fire up a game of Fortnite with some friends.
          </p>
        </div>
      </div>

      <p></p>
    </div>
  </header>
</section>

<!-- Bootstrap core JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script> -->

<script src="javascripts/bootstrap.min.js"></script>

<!-- Custom scripts for this page -->
{{!-- <script src="javascripts/bio.js"></script> --}}
