<!-- navbar -->
<nav id="mainNav" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/#page-top">mg-space</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse navbar-right" id="navbarColor02">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/bio">Bio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/interests">Interests</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" placeholder="Search" type="text">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>

<section class="content-section">
  <header>
    <div class="container"> <!-- used to be class container -->
      <h1>about me<span id="underscore">_</span></h1>
      <h6 class="subtitle" style="padding-bottom: 1.5em;">click on the chevrons to learn more!</h6>

      <div class="title-bar">
        <h4 style="padding-bottom: 0px; margin-bottom: 0px;">
          <a class="arrow_expander collapsed_arrow btn" data-toggle="collapse" href="#studentCollapse" role="button" aria-expanded="false" aria-controls="studentCollapse"><img src="images/down_arrow.svg" class="svg" /></a>
          I go to school at <span class="subtitle" style="padding-left: 0.15em;">SLU</span>.
        </h4>
      </div>

      <div class="collapse" id="studentCollapse">
        <div class="card card-body">
          <p>
            I attended <a href="https://muhs.edu">Marquette University High School</a> in Milwaukee, WI. Now, I go to <a href="https://slu.edu">Saint Louis University</a> in St. Louis, MO. I am majoring in <a href="https://cs.slu.edu">Computer Science</a> with a minor in English. I consider myself very fortunate to have this academic background and strong parents that have supported me along each step. I admire the Jesuit approach to education and its emphasis on cura personalis, or caring for the entire person. After my graduation in May 2019, I hope to go to graduate school to pursue a Ph.D. in <code>Human Computer Interaction (HCI)</code>.
          </p>
          <p>
            My undergraduate Computer Science courses include:
            <ul class="ul-multicol">
              <li>Computer Security</li>
              <li>Computer Ethics</li>
              <li>Programming Languages</li>
              <li>Network Programming</li>
              <li>Artificial Intelligence</li>
              <li>Algorithms</li>
              <br>
              <li>Operating Systems</li>
              <li>Computer Architecture</li>
              <li>Data Structures</li>
              <li>Object Oriented Software Design</li>
              <li>Taming Big Data</li>
            </ul>
              <!-- <div class="row no-gutters">
              <div class="col-md-6 no-gutters">
                <ul>
                  <li>Computer Security</li>
                  <li>Computer Ethics</li>
                  <li>Programming Languages</li>
                  <li>Network Programming</li>
                  <li>Artificial Intelligence</li>
                </ul>
              </div>
              <div class="col-md-6 no-gutters">
                <ul>
                  <li>Algorithms</li>
                  <li>Operating Systems</li>
                  <li>Computer Architecture</li>
                  <li>Data Structures</li>
                  <li>Object Oriented Software Design</li>
                  <li>Taming Big Data</li>
                </ul>
              </div>
            </div> -->
          </p>
        </div>
      </div>

      <br>

      <div class="title-bar">
        <h4 style="padding-bottom: 0px; margin-bottom: 0px;">
          <a class="arrow_expander collapsed_arrow btn" data-toggle="collapse" href="#researchCollapse" role="button" aria-expanded="false" aria-controls="researchCollapse"><img src="images/down_arrow.svg" class="svg" /></a>
          I research <span class="subtitle" style="padding-left: 0.15em;">HCI</span> and <span class="subtitle">SDN</span>.
        </h4>
      </div>
      <div class="collapse" id="researchCollapse">
        <div class="card card-body">
          <p>
            I started doing research with <a href="http://cs.slu.edu/~esposito/">Dr. Flavio Esposito</a> during my Junior year of undergrad. Under his advisorship, I learned to apply the scientific method to interesting research questions. We studied <a href="https://en.wikipedia.org/wiki/Software-defined_networking">Software-Defined Networking (SDN)</a>, which is a relatively new paradigm in computer networking. We looked to implement and evaluate several <a href="https://www.dhs.gov/science-and-technology/csd-mtd">moving target defense</a> strategies in SDN. This project has not yet produced concrete results, but it is an area in which I am still interested.
            <br>
            During my senior year, Dr. Esposito and I have designed and begun implementing an application that would allow humans to control a drone or swarm of drones through conversation. This project would lower the barriers between users and drones by not requiring extensive and fine-tuned knowledge of physical controllers.
          </p>
          <p>
            During the summer of 2018, I worked as a Research Intern at the <a href="https://www.ll.mit.edu/">MIT Lincoln Laboratory</a> in Lexington, Massachusetts. It was a privilege to work alongside some of the world's best researchers. Dr. Steven Gomez mentored me while I worked on my summer project, which was a visualization tool for network analysts gathering information in an enterprise SDN. I compiled my summer work into <a href="docs/imc-poster-gottsacker2.pdf">this poster</a>, which I presented at the ACM Internet Measurement Conference in Boston, MA, on October 31, 2018.
            <br>
            Dr. Gomez and the interns I worked with mentored me a great deal about various aspects of graduate school. They are brilliant examples of the kinds of people I want to be, and they are a big part of why I want to pursue a Ph.D. The research at MIT LL was my first taste of Human-Computer Interaction, a field I hope to study in graduate school.
          </p>
        </div>
      </div>

      <br>

      <div class="title-bar">
        <h4 style="padding-bottom: 0px; margin-bottom: 0px;">
          <a class="arrow_expander collapsed_arrow btn" data-toggle="collapse" href="#codeCollapse" role="button" aria-expanded="false" aria-controls="codeCollapse"><img src="images/down_arrow.svg" class="svg" /></a>
          I write <span class="subtitle" style="padding-left: 0.15em;">programs</span>.
        </h4>
      </div>
      <div class="collapse" id="codeCollapse">
        <div class="card card-body">
          <p>
            I enjoy coding. These are some of my favorite languages and tools. To see some of these things in action, head to the <a href="/projects">projects tab</a>.
            <ul>
              <li>
                <a href="https://www.javascript.com/">JavaScript</a>. I like JavaScript because of its prevalence on the web, and I've found myself using it a lot in personal projects as well as in internships. <a href="https://d3js.org/">D3.js</a> is powerful for creating visualizations. <a href="https://aframe.io/">A-Frame</a> is awesome for bringing virtual reality to web browsers.
              </li>
              <li>
                HTML. I like reading and writing HTML. With a lot of tools out there today, it wasn't necessary to write all of this website's HTML by hand. But I did, because I think it's fun.
              </li>
              <li>
                <a href="https://www.gnu.org/software/bash/">Bash</a>. This has to be my favorite scripting language. I use it to automate some of my day-to-day tasks like renaming files, and I like to break it out to scrape web pages. I've used it extensively in a collaboration project with a sociology researcher as well. On a related note, I love the Linux command line.
              </li>
              <li>
                <a href="https://www.python.org/">Python</a>. I like using Python because of how quickly I can prototype with it. I've used it in a couple research projects, and in my Senior Capstone project.
              </li>
              <li>
                <a href="https://golang.org/">Go</a>. I do not have a lot of technical experience with this language (yet), but I've read about how it works on a lower level. I especially like the language's approach to sharing data in concurrent systems. If you're interested, <a href="https://blog.golang.org/share-memory-by-communicating">this article is a good read on that topic</a>.
              </li>
            </ul>
          </p>
        </div>
      </div>

      <br>

      <div class="title-bar">
        <h4 style="padding-bottom: 0px; margin-bottom: 0px;">
          <a class="arrow_expander collapsed_arrow btn" data-toggle="collapse" href="#otherCollapse" role="button" aria-expanded="false" aria-controls="otherCollapse"><img src="images/down_arrow.svg" class="svg" /></a>
          I do <span class="subtitle" style="padding-left: 0.15em;">other things</span>.
        </h4>
      </div>
      <div class="collapse" id="otherCollapse">
        <div class="card card-body">
          <p>
            I love spending time outside. I hiked the White Mountains in New Hampshire this summer and the Smoky Mountains in Tennesse this fall.
          </p>
          <p>
            I like listening to music. <a href="https://open.spotify.com/user/1291722834?si=NQz4ZS-ERbqOmQJLkSHziw">Here is a link to my Spotify account</a>, if you're curious about what I've been listening to.
          </p>
          <p>
            I collect records. My uncle gave me a 1972 Kenwood record player when I graduated high school, and I have been hooked on vinyls ever since. My collection has grown to well over 200 records, spanning the 1940's to the present. My friend and I have an all-vinyl college radio show every Monday from 5-6. You can tune in at <a href="https://sites.google.com/slu.edu/kslu">KSLU.slu.edu</a> if you ever want to listen! Nothing beats the crackle off some old wax.
          </p>
          <p>
            I read. Some of my favorite authors are <a href="https://www.nealstephenson.com/">Neal Stephenson<a/>, <a href="https://www.stephenking.com/">Stephen King</a>, Malcolm Gladwell, F. Scott Fitzgerald, and Hermann Hesse.
          </p>
        </div>
      </div>

      <p></p>
    </div>
  </header>
</section>
