<!-- navbar -->
<nav id="mainNav" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/#page-top">mg-space</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse navbar-right" id="navbarColor02">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bio">Bio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/interests">Interests</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" placeholder="Search" type="text">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>

<section class="content-section">
  <header>
    <div class="container">
      <h1>interests<span id="underscore">_</span></h1>
      {{!-- <h6 class="subtitle" style="padding-bottom: 1.5em;">click on the chevrons to learn more!</h6> --}}

{{!--       
      <a class="arrow_expander infoItem--a" data-toggle="collapse" href="#int_computersCollapse" role="button" aria-expanded="false" aria-controls="int_computersCollapse">
        <div class="title-bar row">
          <div class="title-bar--svg-row">
            <img src="images/down_arrow.svg" class="svg" />
          </div>
          <div class="title-bar--text-row">
            <h4 class="title-bar--header4">
              Computers
            </h4>
          </div>
        </div>
      </a>

      <div class="collapse" id="int_computersCollapse">
        <div class="card card-body">
          <p>
            As far back as my memory goes, my dad has worked in software product management. I have always looked up to him, and when I was younger I wanted to be just like him. I spent time with various softwares and messed around with computer parts. I was curious about how all these systems worked, so I used them. Learning how to write programs hooked me on the field of Computer Science.
          </p>
          <p>
            The first program I wrote was a virtual world. In my first CS class, we learned programming concepts by using the Alice educational software. I was amazed with how easy it was to create digital worlds and tell stories through them. I was entranced with the ability to create immersive software. I loved watching my friends play with the worlds I wrote. In the second half of my first CS course, we turned to Java, and I found joy in how quickly coding came to me. I felt that I could understand the esoteric language at the foundation of every computer program I had ever used.
          </p>
          <p>
            While most of my work has with computers has been programming things, I still like to tinker with hardware and software. On a related note, I love Linux because it forces the user to develop a unique relationship with the computer itself. It is an awesome operating system to develop with, but it often requires more configuration than Windows or Mac. I've grown to love that side of developing.
          </p>
        </div>
      </div> --}}

      {{!-- <br> --}}

      <a class="arrow_expander infoItem--a" data-toggle="collapse" href="#int_writingCollapse" role="button" aria-expanded="false" aria-controls="int_writingCollapse">
        <div class="title-bar row">
          <div class="title-bar--svg-row">
            <img src="images/down_arrow.svg" class="svg" />
          </div>
          <div class="title-bar--text-row">
            <h4 class="title-bar--header4">
              Creative Writing and Storytelling
            </h4>
          </div>
        </div>
      </a>

      <div class="collapse" id="int_writingCollapse">
        <div class="card card-body">
          <p>
            I took a Creative Writing class in my Sophomore year of high school. That's when I discovered my passion for writing stories. It is another way to create a virtual world and transport someone to it. I started writing a lot of short fiction after that semester&mdash;mostly apocalyptic and science fiction. When I decided where to attend college, I chose Saint Louis University in part because of its inclusion of Computer Science in its College of Arts and Sciences. This arrangement allowed me to pursue a Minor in English and continue developing my storytelling and rhetorical skills alongside a rigorous Computer Science curriculum.
          </p>
          <p>
            My English professors taught me about the technical side of storytelling and introduced me to writing poetry, which is my main form of creative expression today. Moreover, working with <a href="https://nathanielrivers.org">Dr. Nathaniel Rivers</a> in rhetoric courses taught me the strength of combining my fields of study. Previously, my Computer Science studies had not included the humanist side of things; we learned about coding concepts but not about how humans fit into our programs. As a result, I perceived STEM fields as strictly separate from liberal arts ones. I did not realize that the humanities framework would have deeper implications for my understanding of the world.
          </p>
          <p>
            Storytelling is such a foundational and powerful way we relate to each other. I always will be interested in building technology that can help someone express themselves or share human experiences in a some way.
          </p>
        </div>
      </div>

      {{!-- <br> --}}

      <a class="arrow_expander infoItem--a" data-toggle="collapse" href="#int_hci_Collapse" role="button" aria-expanded="false" aria-controls="int_hci_Collapse">
        <div class="title-bar row">
          <div class="title-bar--svg-row">
            <img src="images/down_arrow.svg" class="svg" />
          </div>
          <div class="title-bar--text-row">
            <h4 class="title-bar--header4">
              Humans + Computers
            </h4>
          </div>
        </div>
      </a>

      <div class="collapse" id="int_hci_Collapse">
        <div class="card card-body">
          <p>
            The sciences and arts of computers and humanities has informed my academic perspective.
          </p>
          <p>
            I took a high-level rhetoric seminar my Junior year with <a href="https://nathanielrivers.org">Dr. Rivers</a>. The course focused on how human and non-human systems of attention interact. Although it was a class listed under the English department, he allowed students to tailor their projects and assignments to their specific interests. I centered my work around computing and humans. We examined how information and communication technologies have transformed human networks. They have muddled common conceptions of attention, relationships, and presence. My final project examined how people function in virtual reality. I used Mozilla’s A-Frame technology to create a web-based digital sphere. That world is one of stars, designed to persuade users to feel as though they are floating in outer space. As they progress through the experience, different simulated factors such as time and gravity mutate. A handful of my friends tried it, and I observed how they behaved as they noticed&mdash;consciously or not&mdash;that things were not-the-way-they-ought-to-be. Conscious responses like verbal feedback after certain events confirmed that they were following the world’s narrative. Subconscious reactions such as feeling off balance or flinching were evidence of lower-level consequences.
          </p>
          <p>
            These observations made me think about how immersive digital technology affects people, and how people adapt it to their lives. A lot happens when we are immersed in the digital world, and I want to crack the code about how those processes work. These interests laid the foundation for my interest in pursuing a PhD in VR with an HCI angle.
          </p>
        </div>
      </div>

      <a class="arrow_expander infoItem--a" data-toggle="collapse" href="#int_realities_Collapse" role="button" aria-expanded="false" aria-controls="int_realities_Collapse">
        <div class="title-bar row">
          <div class="title-bar--svg-row">
            <img src="images/down_arrow.svg" class="svg" />
          </div>
          <div class="title-bar--text-row">
            <h4 class="title-bar--header4">
              Blending Realities
            </h4>
          </div>
        </div>
      </a>

      <div class="collapse" id="int_realities_Collapse">
        <div class="card card-body">
          <p>
            One of the tricky things about virtual reality tech is that the user is traditionally isolated from the physical world. This is by design. VR is crazy immersive. You throw on some noise-canceling headphones and some goggles that are the visual equivalent, and you end up in a whole new world or universe. Your brain can get pretty good at giving into the digital illusion, but some things from the physical world should not be ignored. For example, you'll want to know if you're about to run into the wall or if your dog is walking around the play area.
          </p>
          <p>
            There are enough funny/concerning videos of "VR fails" that some of the main issues are being resolved by the goggle makers. But there are some interesting questions remaining. Should the user be completely isolated from other people in the room? I tend to think no. Then: How can another person be brought into the virtual environment so the VR user may become aware of them and interact with them? What information should be provided to non-VR people in the room so they can know when or how to interact with the VR user?
          </p>
          <p>
            I am working on these questions right now. There is a lot of HCI research along these lines&mdash;interruptions, seamless transitions, collaborative VR.
          </p>
        </div>
      </div>

      <a class="arrow_expander infoItem--a" data-toggle="collapse" href="#int_transitions_Collapse" role="button" aria-expanded="false" aria-controls="int_transitions_Collapse">
        <div class="title-bar row">
          <div class="title-bar--svg-row">
            <img src="images/down_arrow.svg" class="svg" />
          </div>
          <div class="title-bar--text-row">
            <h4 class="title-bar--header4">
              Moving Through Realities
            </h4>
          </div>
        </div>
      </a>

      <div class="collapse" id="int_transitions_Collapse">
        <div class="card card-body">
          <p>
            There is all kinds of friction involved in the processes of going into an immersive virtual environment. For starters, you have to fit a kind of bulky and kind of heavy pair of goggles on your head and carefully adjust them so that they are comfortable and are in the right position for your eyes. This part becomes more complicated if you have glasses, if you're not used to the particular device, or if you're not used to it. Then there's the virtual transition. You go to a digital world that might not have the same rules as the physical world you just came from. The world builders might have programmed your hands to emanate lasers that can move ten-ton boulders, or they could have skipped the whole gravity thing altogether.
          </p>
          <p>
            And after you've been immersed in that kind of world for a while, coming out of it is no less jarring.
          </p>
          <p>
            There is a lot of work to be done to better transition people to and from the physical and virtual. Transitioning gets a little better as the person gains experience with the technology, but anecdotally, it still has rough edges. And the friction can become complicated over time. For instance, I know I sometimes get cybsersick after using VR, so I feel a pang of anxiety as I don a headset.
          </p>
          <p>
            I don't have an experiment planned in this area yet, but I am very interested in it. To this end, I am looking at research in meditation and impossible spaces.
          </p>
          <p>
            A quick note on terminology. I am resistant to differentiating between the "real" and "virtual" as is popular in the literature. VR worlds are just as "real" as the "real world" as far as I can tell. They are dynamic; they interact with your senses, your mind. It is also popular to use "physical" in lieu of "real". Of course, a computer system is quite physical&mdash;it produces physical sensory stimuli (e.g., light, sound, vibrations) that interact with your senses. Differentiating between the "analog" and "digital" worlds feels a bit better for me.
          </p>
        </div>
      </div>


    </div>
  </header>
</section>

<!-- Bootstrap core JavaScript -->
{{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> --}}
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script> -->

<script src="javascripts/bootstrap.min.js"></script>

<!-- Custom scripts for this page -->
{{!-- <script src="javascripts/interests.js"></script> --}}
