<!-- navbar -->
<nav id="mainNav" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/#page-top">mg-space</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse navbar-right" id="navbarColor02">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bio">Bio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/interests">Interests</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" placeholder="Search" type="text">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>

<section class="content-section">
  <header>
    <div class="container">
      <h1>interests<span id="underscore">_</span></h1>
      {{!-- <h6 class="subtitle" style="padding-bottom: 1.5em;">click on the chevrons to learn more!</h6> --}}

      <a class="arrow_expander content-card" data-toggle="collapse" href="#int_computersCollapse" role="button" aria-expanded="false" aria-controls="int_computersCollapse">
        <div class="title-bar">
          <h4 style="padding-bottom: 0px; margin-bottom: 0px;">
              <img src="images/down_arrow.svg" class="svg" />
            Computers
          </h4>
        </div>
      </a>

      <div class="collapse" id="int_computersCollapse">
        <div class="card card-body">
          <p>
            I can almost certainly attribute my early interest in computers to my father. As far back as my memory goes, my dad has worked in software product management. I have always looked up to him, and when I was younger I wanted to be just like him. I spent time with various softwares and messed around with computer parts. I was curious about how all these systems worked, so I used them. Learning how to write programs hooked me on the field of Computer Science.
            <br>
            <br>
            The first program I wrote was a virtual world. In my first CS class, we learned programming concepts by using the Alice educational software. I was amazed with how easy it was to create digital worlds and tell stories through them. I was entranced with the ability to create immersive software. I loved watching my friends play with the worlds I wrote. In the second half of my first CS course, we turned to Java, and I found joy in how quickly coding came to me. I felt that I could understand the esoteric language at the foundation of every computer program I had ever used.
            <br>
            <br>
            While most of my work has with computers has been programming things, I still like to tinker with hardware and software. On a related note, I love Linux because it forces the user to develop a unique relationship with the computer itself. It is an awesome operating system to develop with, but it often requires more configuration than Windows or Mac. I've grown to love that side of developing.
          </p>
        </div>
      </div>

      <br>

      <a class="arrow_expander content-card" data-toggle="collapse" href="#int_writingCollapse" role="button" aria-expanded="false" aria-controls="int_writingCollapse">
        <div class="title-bar">
          <h4 style="padding-bottom: 0px; margin-bottom: 0px;">
              <img src="images/down_arrow.svg" class="svg" />
            Creative Writing and Storytelling
          </h4>
        </div>
      </a>

      <div class="collapse" id="int_writingCollapse">
        <div class="card card-body">
          <p>
            I took a Creative Writing class in my Sophomore year of high school, and I discovered a passion for writing stories. It was another way to create a virtual world and transport someone to it. I started writing a lot of short fiction. My early stories fit mostly into the genres of science fiction and apocalyptic literature. When I decided where to attend college, I chose Saint Louis University in part because of its inclusion of Computer Science in its College of Arts and Sciences. This arrangement allowed me to pursue a Minor in English and continue developing my storytelling and rhetorical skills alongside a rigorous Computer Science curriculum. I loved writing, so I wanted to learn more about it.
            <br>
            <br>
            My English professors taught me about the technical side of storytelling and introduced me to writing poetry, which is my main form of creative expression today. Moreover, working with Dr. Nathaniel Rivers in rhetoric courses taught me the strength of combining my fields of study. Previously, my Computer Science studies had not included the humanist side of things; we learned about coding concepts but not about how humans fit into our programs. As a result, I perceived STEM fields as separate from humanist ones. I did not realize that the humanities framework would have deeper implications for my understanding of the world.
          </p>
        </div>
      </div>

      <br>

      <a class="arrow_expander content-card" data-toggle="collapse" href="#int_hci_Collapse" role="button" aria-expanded="false" aria-controls="int_hci_Collapse">
        <div class="title-bar">
          <h4 style="padding-bottom: 0px; margin-bottom: 0px;">
              <img src="images/down_arrow.svg" class="svg" />
            Humans + Computers
          </h4>
        </div>
      </a>

      <div class="collapse" id="int_hci_Collapse">
        <div class="card card-body">
          <p>
            The blending of my education in the sciences of computers and humanism has informed my current academic perspective.
            <br>
            <br>
            I took a high-level rhetoric seminar my Junior year with Dr. Rivers. The course focused on how human and non-human systems of attention interact. Although it was a class listed under the English department, he allowed students to tailor their projects and assignments to their specific fields of interest. I centered my work around computing and humanity. We examined how information and communication technologies have transformed human networks. They have muddled common conceptions of attention, relationships, and presence. My final project examined how people function in virtual reality. I used Mozilla’s A-Frame technology to create a web-based digital sphere. That world is one of stars, designed to persuade users to feel as though they are floating in outer space. As they progress through the experience, different simulated factors such as time and gravity mutate. A handful of my friends tried it, and I observed how they behaved as they noticed—consciously or not—that things were not the way that they ought to be. Conscious responses like verbal feedback after certain events confirmed that they were following the world’s narrative. Subconscious reactions such as feeling off balance or flinching were evidence of lower-level consequences.
            <br>
            <br>
            These observations inspired thoughts about the power of VR technology in relation to guiding human activity, and that topic has helped form my future goals. A lot happens when we are immersed in the digital world, and I want to crack the code about how those processes work. 
          </p>
        </div>
      </div>


    </div>
  </header>
</section>

<!-- Bootstrap core JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script> -->

<script src="javascripts/bootstrap.min.js"></script>

<!-- Custom scripts for this page -->
{{!-- <script src="javascripts/interests.js"></script> --}}
