<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131311694-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-131311694-1');
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Gottsacker,Matt,Matthew,HCI,Human-Computer Interaction,SLU,Saint Louis University,MIT Lincoln Laboratory">
    <meta name="author" content="Matt Gottsacker">

    <title>{{title}}</title>
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"> -->
    <!-- Bootstrap Solarized CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <!-- my CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <!-- Bootstrap core JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  </head>

  <body id="page-top">

    {{{body}}}
    <!-- Footer -->
    <footer>
      <hr>
      <div class="container text-center">
        <p>
          Webspace last updated: <span class="p-emph">2021-01-10</span>.
        </p>
        <p>
          Feel free to check out this website's code on <a href="https://github.com/mott-lab/mattgottsacker-space">Github</a>.
        </p>
      </div>
    </footer>

    <script src="javascripts/main.js"></script>

  </body>
</html>
