<!-- navbar -->
<nav id="mainNav" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/#page-top">mg-space</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse navbar-right" id="navbarColor02">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/#page-top">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bio">Bio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/interests">Interests</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" placeholder="Search" type="text">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>


<section class="content-section first-section">
  <div class="container">
    <div class="title-bar-index pad-content">
      <h2>
        (old) news
      </h2>
      <p>
        <ul>
          <li>
            September 2022: Conference paper accepted at ACM Symposium on Virtual Reality Software and Technology. "Effects of Environmental Noise Levels on Patient Handoff Communication." pp. 1-10. <a href="https://sreal.ucf.edu/wp-content/uploads/2022/10/main.pdf">Link to pre-print</a>.
          </li>
          <li>
            August 2022: Workshop paper accepted at IEEE International Symposium on Mixed and Augmented Reality (ISMAR). "Towards a Desktop&ndash;AR Prototyping Framework: Prototyping Cross-Reality Between Desktops and Augmented Reality." pp. 1-8. <a href="https://sreal.ucf.edu/wp-content/uploads/2022/10/ISMAR2022_Workshop_on_Prototyping_Cross_Reality_Systems.pdf">Link to pre-print</a>.
          </li>
          <li>
            August 2022: Poster accepted at IEEE ISMAR. "Exploring Cues and Signaling to Improve Cross-Reality Interruptions." pp. 1-6. <a href="https://sreal.ucf.edu/wp-content/uploads/2022/09/ISMAR22_CrossReality_camready_3.pdf">Link to pre-print</a>.
          </li>
          <li>
            Summer 2022: I started a summer research visit at the Computer Graphics and User Interfaces Lab at Columbia University. I worked with Dr. Steve Feiner on a collaborative mixed reality application. We have researched user interface challenges that arise when co-located AR users share and transition among each other's perspectives. Work is under submission, and ongoing.
          </li>
          <li>
            February 2022: I was named a finalist for the <a href="https://research.facebook.com/blog/2022/2/announcing-the-recipients-of-the-2022-meta-phd-research-fellowship/">Meta PhD Fellowship</a>.
          </li>
          
        </ul>
      </p>
    </div>
  </div>
</section>

<script src="javascripts/bootstrap.min.js"></script>