h1, h2 {
  font-family: 'Ubuntu Mono', monospace;
}

h3, h4, h5, h6 {
  font-family: 'Ubuntu';
}

h1, h2 {
  color: #fdf6e3;
}

h1 {
  padding-top: 1em;
  padding-bottom: 1em;
}

h4 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

body {
  font-family: 'Ubuntu', 'Ubuntu Mono', monospace;
  /* background-color:; */
}

html {
  width: 100%;
  height: 100%;
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #42DCA3;
}

a:focus, a:hover {
  text-decoration: none;
  color: #1d9b6c;
}

#mainNav {
  border-bottom: 1px solid #ffffff4d;
}

hr {
  background-color: #ffffff4d;
}

.container {
  padding: 0;
}

.folder {
  padding: 0.5em;
  margin-bottom: 1.25em;
}

.infoItem--a, a.infoItem--a:focus {
  border: 0;
  width: 100%;
  text-align: left;
  margin: 0 0 0.5em 0;
  color: #e8faff;
  transition: none;
}

.infoItem--card {
  margin-top: -0.5em;
}

.title-bar {
  background-color: #212427;
  padding-bottom: 10px;
  margin: 0;
}

.title-bar--header4 {
  padding-bottom: 0;
  margin-bottom: 0;
}

.title-bar--svg-row {
  max-width: 20%;
}

.title-bar--text-row {
  max-width: 80%;
}

.project-status--p {
  color: white;
}

.pad-content {
  padding: 1.1em;
}

.slight-margin-content {
  margin: 0.5em;
}

.subtitle {
  font-family: 'Ubuntu Mono', monospace;
  color: #fdf6e3;
  padding-left: 0.15em;
}

.subtitle-break {
  margin-left: 0.0em;
  margin-top: 0.5em;
}

.ml-auto {
  margin-right: 10%;
}

.navbar-brand {
  font-family: 'Ubuntu Mono', monospace;
  /* padding-left: 5%; */
}

.navbar-toggler {
  /* margin-right: 5%; */
}


#map {
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  font-weight: 400;
  font-family: 'Ubuntu', monospace;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
}

.btn-default {
  color: #42DCA3;
  border: 1px solid #42DCA3;
  background-color: transparent;
}

.btn-default:focus, .btn-default:hover {
  color: black;
  border: 1px solid #42DCA3;
  outline: none;
  background-color: #42DCA3;
}

.content-section {
  padding: 25px;
}

.card {
  border-radius: 0 !important;
}

header {
  /* padding-top: 100px; */
}

footer {
  padding: 50px;
}

footer p {
  font-size: 14px;
  margin: 0;
}

.ul-arrow {
  padding-left: 0;
}

.li-arrow {
  margin: 0;
	padding: 0 0 0 1.5em;
	list-style: none;
	background-image: url("../images/right_arrow.svg");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 1.5em;
}

.expanded_arrow {
		-webkit-animation: rotation 0.4s forwards linear;
}

.ul-multicol {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
        transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
		}
}

.collapsed_arrow {
  -webkit-animation: rotation_back 0.4s forwards linear;
}

.title_expanded {
  /* color: #1d9b6c !important; */
}

.title_collapsed {
  /* color: #42DCA3 !important; */
}

@-webkit-keyframes rotation_back {
		from {
				-webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
		}
		to {
				-webkit-transform: rotate(0deg);
        transform: rotate(0deg);
		}
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.chevronSelect {
  fill: #42DCA3;
}

.chevronSelected {
  fill: #1d9b6c;
}

.content-card, .content-card:focus {
  border: 0;
  width: 100%;
  text-align: left;
  padding: 0 0 1em 0;
  color: rgba(255, 255, 255, 0.637);
  transition: none;
}

.contentCardHighlight {
  color: #1d9b6c !important;
}

.subtitleHighlight {
  color: #3d9e7b;
}